Cython==0.29.36
GitPython==3.1.43
Jinja2==3.1.2
Markdown==3.4.3
MarkupSafe==2.1.3
Pillow==9.2.0
PyYAML==6.0
Pygments==2.15.1
Send2Trash==1.8.2
Werkzeug==2.3.6
absl-py==1.4.0
accelerate==0.31.0
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
apex==0.1
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
bitsandbytes==0.43.1
bleach==6.0.0
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.4
colorama==0.4.6
comm==0.1.3
confection==0.1.0
contourpy==1.1.0
cubinlinker==0.3.0+2.g155b525
cuda-python==12.1.0rc5+1.g8659927
cudf==23.6.0
cugraph-dgl==23.6.0
cugraph-service-client==23.6.0
cugraph-service-server==23.6.0
cugraph==23.6.0
cuml==23.6.0
cupy-cuda12x==12.1.0
cycler==0.11.0
cymem==2.0.7
dask-cuda==23.6.0
dask-cudf==23.6.0
dask==2023.3.2
datasets==2.20.0
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.14.4
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
distributed==2023.3.2.1
distro==1.9.0
dm-tree==0.1.8
dnspython==2.6.1
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.6.1
email_validator==2.2.0
exceptiongroup==1.1.2
execnet==1.9.0
executing==1.2.0
expecttest==0.1.3
fastapi-cli==0.0.4
fastapi==0.111.0
fastjsonschema==2.17.1
fastrlock==0.8.1
ffmpy==0.3.2
filelock==3.12.2
fire==0.6.0
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gast==0.5.4
gitdb==4.0.11
google-auth-oauthlib==0.4.6
google-auth==2.21.0
gradio==4.37.1
gradio_client==1.0.2
graphsurgeon==0.4.6
grpcio==1.56.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
hypothesis==5.35.1
idna==3.4
importlib-metadata==6.7.0
importlib_resources==6.4.0
iniconfig==2.0.0
intel-openmp==2021.4.0
interegular==0.3.3
ipykernel==6.24.0
ipython-genutils==0.2.0
ipython==8.14.0
jedi==0.18.2
jieba==0.42.1
joblib==1.3.0
json5==0.9.14
jsonschema-specifications==2023.6.1
jsonschema==4.18.0
jupyter-tensorboard==0.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupyterlab==2.3.2
jupytext==1.14.7
kiwisolver==1.4.4
langcodes==3.3.0
lark==1.1.9
librosa==0.9.2
llamafactory==0.8.3.dev0
llvmlite==0.40.1
lm-format-enforcer==0.10.1
locket==1.0.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.7.2
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
mkl==2021.1.1
mock==5.0.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.9
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==2.6.3
ninja==1.11.1.1
nltk==3.8.1
notebook==6.4.10
numba==0.57.1+1.gf851d279c
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-dali-cuda120==1.27.0
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
nvtx==0.2.5
oauthlib==3.2.2
onnx==1.14.0
openai==1.35.6
opencv==4.7.0
orjson==3.10.5
outlines==0.0.46
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathy==0.10.2
peft==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
pip==24.1.1
platformdirs==3.8.0
pluggy==1.2.0
ply==3.11
polygraphy==0.47.1
pooch==1.7.0
preshed==3.0.8
prettytable==3.8.0
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.4
psutil==6.0.0
ptxcompiler==0.8.1+1.gb323413
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow-hotfix==0.6
pyarrow==16.1.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pybind11==2.10.4
pycocotools==2.0+nv0.7.3
pycountry==24.6.1
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
pydub==0.25.1
pylibcugraph==23.6.0
pylibcugraphops==23.6.0
pylibraft==23.6.0
pynvml==11.4.1
pyparsing==3.0.9
pytest-flakefinder==1.1.0
pytest-rerunfailures==12.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-hostlist==1.23.0
python-multipart==0.0.9
pytorch-quantization==2.1.2
pytz==2023.3
pyzmq==25.1.0
raft-dask==23.6.0
ray==2.31.0
referencing==0.29.1
regex==2023.6.3
requests-oauthlib==1.3.1
requests==2.32.3
resampy==0.4.2
rich==13.7.1
rmm==23.6.0
rouge-chinese==1.0.3
rpds-py==0.8.8
rsa==4.9
ruff==0.5.0
safetensors==0.4.3
scikit-learn==1.2.0
scipy==1.11.0
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.12.0
setproctitle==1.2.2
setproctitle==1.3.3
setuptools==68.0.0
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy==3.5.4
sphinx-glpi-theme==0.3
srsly==2.4.6
sse-starlette==2.1.2
stack-data==0.6.2
starlette==0.37.2
sympy==1.12
tabulate==0.9.0
tbb==2021.9.0
tblib==2.0.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.0
tensorrt==8.6.1
termcolor==2.4.0
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
thriftpy2==0.4.16
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch-tensorrt==1.5.0.dev0
torch==2.3.0
torchdata==0.7.0a0
torchtext==0.16.0a0
torchvision==0.16.0a0
tornado==6.3.2
tqdm==4.66.4
traitlets==5.9.0
transformers-stream-generator==0.0.5
transformers==4.42.1
treelite-runtime==3.2.0
treelite==3.2.0
triton==2.3.0
trl==0.9.4
typer==0.12.3
types-dataclasses==0.6.6
typing_extensions==4.12.2
tyro==0.8.5
tzdata==2024.1
ucx-py==0.32.0
uff==0.6.9
ujson==5.10.0
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
vllm-flash-attn==2.5.9
vllm==0.5.0.post1
wandb==0.17.6
wasabi==1.1.2
watchfiles==0.22.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
wheel==0.40.0
xdoctest==1.0.2
xformers==0.0.26.post1
xgboost==1.7.5
xxhash==3.4.1
yarl==1.9.2
zict==3.0.0
zipp==3.15.0